apiVersion: v1
kind: Config
clusters:
- name: {{ cluster_name }}
  cluster:
    server: {{ server }}
    certificate-authority-data: {{ ca_data }}
users:
- name: auditor
  user:
    token: {{ token }}
contexts:
- name: auditor@{{ cluster_name }}
  context:
    cluster: {{ cluster_name }}
    user: auditor
    namespace: default
current-context: auditor@{{ cluster_name }}
